.home{
    font-size: large;
    
    
}

.home_title{
    margin-top: 10%;
    font-size: x-large;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.container{
    max-width: 860px;
    margin: 0 auto;
}

.pic{
    max-width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 10%;
}
